---
import type { ElementoLista, Listas } from '@/tipos';
import { nombresListasProyectos } from '@/utilidades/cerebro';

interface Props {
  id: keyof Listas;
  lista: ElementoLista[];
}

const { lista, id } = Astro.props;
---

<section id={id} class="lista">
  <h2 class="titulo">{nombresListasProyectos[id]}</h2>
  <ul class=`contenedorElementos ${id}`>
    {
      lista.map((elemento, i) => (
        <li id={`${id}_${i}`} class="nodo" data-tipo={id} data-indice={i} data-proyectos={elemento.publicaciones}>
          <h3 class="nombre">{elemento.nombre}</h3>
          <div class="barra">
            <span class="linea" style={`width: ${elemento.conteo}%`} />
            <span class="conteo">{elemento.conteo}</span>
          </div>
        </li>
      ))
    }
  </ul>
</section>
